hr {
  margin-top: 25px;
  border: 2px solid #ffc107;
  opacity: 1;
}

.nav-tabs .nav-link {
  background-color: black;
  border: 1px solid #ffc107;
  color: #ffc107;
}
.nav-tabs .nav-link:hover {
  background-color: black;
  border: 1px solid #ffc107;
  color: #ffc107;
}

.nav-tabs .nav-link.active {
  background-color: #ffc107;
  color: black;
  border: 1px solid #ffc107;
}
